Саня Савченко,
[10/18/2022 9:27 PM] body {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    a {
        color: inherit;
    }
}

h1,
.h1 {
    /*basic heading styles*/
}

h2,
.h2 {
    /*basic heading styles*/
}

h3,
.h3 {
    /*basic heading styles*/
}

h4,
.h4 {
    /*basic heading styles*/
}

h5,
.h5 {
    /*basic heading styles*/
}

h6,
.h6 {
    /*basic heading styles*/
}

p {
    /*basic paragraph styles*/

    &:last-child {
        margin-bottom: 0;
    }

    &:empty {
        display: none;
    }

    a {
        text-decoration: underline;
    }
}

ul {
    /*basic list styles*/
    font-size: inherit;

    li {
        /*basic list-item styles*/
    }
}

a {
    color: $main_color;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
        /*basic hover and focus effects*/
        color: darken($main_color, 20);
    }
}

/* ---------------------------------------
  Forms/Inputs
--------------------------------------- */

/* Placeholder styling */

input,
textarea {
    @include input-placeholder {
        opacity: 1;
    }
}

/* Input Styling */

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select,
.select-styled {
    /* STYLES GO THERE */
    margin-bottom: 0;
}

textarea[rows] {
    /*Styles for TextArea*/
    height: 150px;
    max-width: 100%;
}

[type=number] {
    -moz-appearance: textfield;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

[type=checkbox],
[type=file],
[type=radio] {
    margin-bottom: 0;
}

button,
.button,
input[type='submit'],
input[type='reset'] {
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {}
}

/* Button additional styles */

.button {

    &:hover,
    &:focus {
        /*basic hover and focus effects*/
    }
}

Саня Савченко,
[1/24/2023 11:48 AM] or waiting for my response? Саня Савченко,
[1/24/2023 5:23 PM] let's get in touch every day in the evening about your progress

Саня Савченко,
[1/25/2023 11:42 AM]